@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap"); 

@import url("components/container.css"); 
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'PT Serif', serif;
	font-size:  18px;
	margin: 0px;
	text-align: center;
	background-color: rgba(0, 45, 255, 0.2);
}

h2 {
	font-family: 'Oswald', sans-serif;
}

h1,h3 {
	font-family:'PT Serif', serif;
	text-align: center;
}

a{
	text-decoration: none;
	font-size: 18px;
	transition: color 0.3s ease;
}

a:hover {
	color: lightblue;
}

.btn-blue:hover {
	background-color: lightblue;
	color: black;
}

.card:hover {
  transform: scale(1.1);
}
